.icon-cresenselogo-light { background-image: url('png/cresenselogo-light.png'); background-repeat: no-repeat; }

.icon-cresenselogo { background-image: url('png/cresenselogo.png'); background-repeat: no-repeat; }

.icon-facebook-light { background-image: url('png/facebook-light.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-linkedin-light { background-image: url('png/linkedin-light.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('png/linkedin.png'); background-repeat: no-repeat; }

.icon-twitter-light { background-image: url('png/twitter-light.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

